*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: var(--html-color-scheme);
}
body {
  margin: 0;
}
.popup-wrapper {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}

.popup-header {
  display: flex;
  justify-content: space-between;
}
.popup-header-right {
  display: flex;
  align-items: center;
}
.headerButton {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}

.messages-container {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  min-height: 150px;
  max-height: 250px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  &.message--user {
    background-color: var(--user-message-background-color);
  }
}

.user-controls {
  padding: 10px;
  display: flex;
  align-items: center;
}

.user-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  &:disabled {
    cursor: not-allowed;
  }
}

.send-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    background-color: #3e8e41;
  }
}
